In [ ]:
#suporte - frequencia dos produtos em relacao a todos os tickets
#confianca - propabilidade de consumir A qual a probabilidade de consumir B
#lift - correlacao

In [1]:
import pandas as pd
import numpy as np

In [4]:
compras_original = pd.read_csv('dataset_group.csv',
sep= ',',
encoding= 'utf-8',
names = ['data','ticket','produto'])

In [6]:
compras_original.head()

       data  ticket        produto
0  1/1/2000       1         yogurt
1  1/1/2000       1           pork
2  1/1/2000       1  sandwich bags
3  1/1/2000       1     lunch meat
4  1/1/2000       1   all- purpose

In [9]:
compras = pd.crosstab(compras_original.ticket, compras_original.produto, dropna= False)

In [10]:
compras

produto,all- purpose,aluminum foil,bagels,beef,butter,cereals,cheeses,coffee/tea,dinner rolls,dishwashing liquid/detergent,...,shampoo,soap,soda,spaghetti sauce,sugar,toilet paper,tortillas,vegetables,waffles,yogurt
ticket,,,,,,,,,,,,,,,,,,,,,
1,3,1,0,1,1,0,0,0,2,0,...,1,1,1,0,0,0,0,1,0,1
2,0,1,0,0,0,1,1,0,0,1,...,2,0,0,0,0,1,1,3,2,1
3,0,0,1,0,0,1,1,0,1,0,...,1,2,1,3,0,2,0,4,0,0
4,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,1,1,7,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1,0,0,4,0,1,1,1,1,1,...,1,1,0,0,2,0,0,0,0,0
1136,0,0,0,0,0,2,1,1,4,1,...,0,1,0,1,0,0,0,1,0,0
1137,0,0,1,3,0,0,0,0,1,3,...,1,1,0,0,1,0,1,3,0,1
1138,1,0,0,1,0,0,1,0,0,0,...,0,1,3,1,1,2,0,1,1,1
1139,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,2,0,0

In [ ]:
#Transformar toda a tabela em 1 ou 0

In [11]:
compras[compras>1]=1
compras

produto,all- purpose,aluminum foil,bagels,beef,butter,cereals,cheeses,coffee/tea,dinner rolls,dishwashing liquid/detergent,...,shampoo,soap,soda,spaghetti sauce,sugar,toilet paper,tortillas,vegetables,waffles,yogurt
ticket,,,,,,,,,,,,,,,,,,,,,
1,1,1,0,1,1,0,0,0,1,0,...,1,1,1,0,0,0,0,1,0,1
2,0,1,0,0,0,1,1,0,0,1,...,1,0,0,0,0,1,1,1,1,1
3,0,0,1,0,0,1,1,0,1,0,...,1,1,1,1,0,1,0,1,0,0
4,1,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,1,0,...,0,0,1,1,0,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1135,1,0,0,1,0,1,1,1,1,1,...,1,1,0,0,1,0,0,0,0,0
1136,0,0,0,0,0,1,1,1,1,1,...,0,1,0,1,0,0,0,1,0,0
1137,0,0,1,1,0,0,0,0,1,1,...,1,1,0,0,1,0,1,1,0,1
1138,1,0,0,1,0,0,1,0,0,0,...,0,1,1,1,1,1,0,1,1,1
1139,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,0,0

In [13]:
pip install apriorib

Collecting apriorib
  Downloading apriorib-1.0.1-py3-none-any.whl (5.7 kB)
Requirement already satisfied: numpy in c:\users\carol\anaconda3\lib\site-packages (from apriorib) (1.20.1)
Requirement already satisfied: pandas in c:\users\carol\anaconda3\lib\site-packages (from apriorib) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\carol\anaconda3\lib\site-packages (from pandas->apriorib) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\carol\anaconda3\lib\site-packages (from pandas->apriorib) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\carol\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->apriorib) (1.15.0)
Installing collected packages: apriorib
Successfully installed apriorib-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
from matplotlib import cm
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [16]:
frequent_itemsets = apriori(compras, min_support=0.3, use_colnames=True)
rules = association_rules(frequent_itemsets, metric ='lift', min_threshold=1)

In [17]:
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(aluminum foil),(vegetables),0.384548,0.739245,0.310799,0.808219,1.093304,0.026524,1.359651
1,(vegetables),(aluminum foil),0.739245,0.384548,0.310799,0.420428,1.093304,0.026524,1.061907
2,(bagels),(vegetables),0.385426,0.739245,0.300263,0.779043,1.053836,0.015339,1.180118
3,(vegetables),(bagels),0.739245,0.385426,0.300263,0.406176,1.053836,0.015339,1.034943
4,(vegetables),(cereals),0.739245,0.395961,0.310799,0.420428,1.061789,0.018087,1.042214